/* style the table */
body{
  background-color: #e3f6ed;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #d49393;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: aliceblue;
}
img{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 h3{
  text-align: center;
  color: #230404;
 }
