/* style the list items on navbar */
body{
 background-color: rgba(229, 186, 235, 0.667);
margin: 0%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4570;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

li {
  float: left;
  padding: 20px 26px;
  font-size: 20px;
  border-style: none;

}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px 38px;
  text-decoration: none;
}

/* style list of the dropdown */
li a:hover,
.dropdown:hover .dropbtn {
  background-color: #a8cad6;
  color: rgb(96, 4, 4);
}

li.dropdown {
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e1b5b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.yoga-content {
  color: #944545;
  position: relative;
}

/*style timetable contents*/
.yoga-timetable-content2 {
  background: rgba(192, 140, 200, 0.667);
  width: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
}

.yoga-timetable-content2:hover {
  background:rgba(165, 168, 197, 0.667) ;
}

/*style table items*/
.table-schedule {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid #e8e8dd;
  text-align: left;
  padding: 8px;
  /*justify-content: space-evenly;*/

}

th {
  background-color: #f2eded;
}

/*style the image   float: left;*/
#yoga-img-container{
  background-image: url('websiteImages/bruce-mars-HHXdPG_eTIQ-unsplash.jpg');
  background-repeat: no-repeat;
  padding: 20%;
  background-size: cover;
  height: 30%;
  width: 60%;
  position:relative;
  background-position: center bottom;
}

.yoga-form-container{
  padding: 16px;
  background-color: rgba(207, 178, 213, 0.667);
  width:50%;
  position: relative;
  margin: 20px;
  cursor: pointer;
  border-radius: 6px;
  justify-content: space-between;
}

.yoga-form-container:hover {
  opacity: 0.5;
  background-color:rgba(208, 70, 243, 0.667);
}

/* Add styles to the form*/
input[type=text]{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 6px;
  border: none;
  background: #f1f1f1;
}

#weekdays{
  font-size: large;
  padding: 10px;
  width: 50%;
  background: #f1f1f1;  
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 6px;
}


/*style for the submit button */
.submit-btn {
  color: black;
  padding: 10px 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 13%;
  text-align: left;
  font-size: large;
  border: none;
}

.submit-btn:hover {
  opacity: 0.5;
  background-color: #b97f8a;
}

/* style the footer */
.footer {
  text-align: center;
  padding: 20;
  margin: 0;
  background-color: #9bbecf;
  color: #360101;
  height: 20%;
  font-size: large
}