/* css for the home  */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.welcome{
  font-size:52px;
  color: whitesmoke
}

.home-image {
  background: url(websiteImages/yoav-aziz--yqiYu9xRBU-unsplash.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.home-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* sytle the join us button*/
.home-button{
  font-size:20px;
  padding: 15px 25px;
  border-radius: 8px;
  background-color:#bed1e1;
  color: rgb(8, 0, 0);
  cursor: pointer;

}

/* style the navbar */
.navbar {
  text-align: center;
  padding: 20px;
}

.navbar a {
  border-style: none;
  opacity: 1;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  width: 22%;
  background-color: #2b4570;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
}

.navbar a:hover {
  background-color: rgb(152, 189, 216);
  color: rgb(96, 4, 4);
}

.image1 {
  width: 300px;
}

/* style the home box content */
.container {
  display: flex;
}

.box1 {
  flex: 3;
  margin: 15px;
  padding: 50px;
  border: 2px solid #d3e0ee;
  background-color:rgb(247, 224, 224);
}

/* style the self care */
.companyoffer {
  text-align: center;
  text-decoration: solid;
  text-size-adjust: 38px;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #360101;

}

/* style the footer */
.footer {

  text-align: center;
  padding: 20;
  margin: 0;
  background-color: #9bbecf;
  color: #360101;
  height: 15%;
  font-size:medium

}