body{
  background-color: #f2f6fb;
}
/* style the welcome message*/
.membership-qoute{
  color:rgb(228, 107, 107);
  text-align: center;
  justify-content: space-between;  
}

/* style header - membership text */
.welcome{
  font-size:32px;
  color:#360101;
  text-align: center;
  text-shadow: #e1b5b5;
}

/* style the list items on navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4570;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

li {
  float: left;
  padding: 20px 26px;
  font-size: 20px;
  border-style: none;
 
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px 38px;
  text-decoration: none;
}

/* style list of the dropdown */
li a:hover,
.dropdown:hover .dropbtn {
  background-color: #a8cad6;
  color: rgb(96, 4, 4);
}

li.dropdown {
  display: inline-block;

}

/* style list of the dropdown content */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e1b5b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* style the home box content */
.container {
  display: flex;
}

.box1 {
  flex: 3;
  margin: 15px;
  padding: 50px;
  border: 2px solid #d3e0ee;
  background-color:rgb(247, 224, 224);
}

/* style the footer */
.footer {

  text-align: center;
  padding: 20;
  margin: 0;
  background-color: #9bbecf;
  color: #360101;
  height: 15%;
  font-size: medium
}